<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet-sheet0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{20,58}</string>
                <key>spriteSourceSize</key>
                <string>{20,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{20,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet-sheet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,64}</string>
                <key>spriteSourceSize</key>
                <string>{20,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game1.png</string>
            <key>size</key>
            <string>{22,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bde33f8e25c4433a5a16a4d85ed50f3a:1d0a83624a89e7839e1de60172725c31:8a4e504745f02d5ff3c9c12f7f870519$</string>
            <key>textureFileName</key>
            <string>game1.png</string>
        </dict>
    </dict>
</plist>
